<h1>WORK IN PROGRESS My owner Bookings </h1>
<div class="card-bike-index-cards">
  <%@bikes.each do |bike|%>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag bike.photo.key %>
      <div class="card-body">
        <h5 class="card-title"> <%=bike.name%> </h5>
        <p class="card-text"> <%=bike.user.first_name%>  <%=bike.user.last_name%> </p>
        <p class="card-text"> <%=bike.category%> </p>
        <p class="card-text"> <%=bike.price%> </p>
        <%= link_to "See", bike_path(bike) %>
      </div>
    </div>
  <%end%>
</div>
