<div class="container" class = "project">
  <%= simple_form_for (bike) do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: Bike.categories.keys %>
    <%= f.input :size, collection: Bike.sizes.keys %>
    <%= f.input :price %>
    <%= f.input :address,input_html: {data: {address_autocomplete_target: "address"},class: "d-none"},
                      wrapper_html: {data: {controller: "address-autocomplete",
                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :picture_url %>
    <%= f.input :description %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
