<h1>My published bikes</h1>
<p> <%= link_to "Back to all bikes", bikes_path %> </p>
<div class="card-bike-index-cards">
  <%@bikes.each do |bike|%>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=<%=bike.picture_url%> alt="bike image">
      <div class="card-body">
        <h5 class="card-title"> <%=bike.name%> </h5>
        <p class="card-text"> <%=bike.user.first_name%>  <%=bike.user.last_name%> </p>
        <p class="card-text"> <%=bike.category%> </p>
        <p class="card-text"> <%=bike.price%> </p>
        <%= link_to "See", bike_path(bike) %>
      </div>
    </div>
  <%end%>
</div>
<!--
INITIAL BUTTON
<a href="#" class="btn btn-primary"> See </a>
-->
