<div class="card-bike-index-main d-flex p-2 ">
  <h1>All bikes</h1>
  <div class="card-bike-index-cards">
    <% @bikes.each do |bike| %>
      <div class="card-bike-index-card w-100">
        <% if bike.photo.present? %>
          <%= cl_image_tag bike.photo.key %>
        <% end %>
        <div class="bike-info">
          <%if user_signed_in?%>
            <%= link_to bike.name.capitalize(), new_bike_booking_path(bike) %>  <!--bike_path(bike)-->
          <%else%>
            <%= link_to bike.name.capitalize(), new_user_session_path %>  <!--log path-->
          <%end%>
          <p><%= bike.price %>.-/day</p>
          <p>Owner: <%= "#{bike.user.first_name} #{bike.user.last_name}" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
