<!DOCTYPE html>
<html>
  <head>
    <title>BikesRental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <%= render "shared/navbar" %>
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
